<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/']" routerLinkActive="router-link-active">
        <ion-icon name="return-up-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{produtoModel?.nome}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h3 class="texto-centralizado titulo">{{produtoModel?.nome}}</h3>
    <div class="imagem">
      <img [src]="produtoModel?.avatarUrl" alt="">
    </div>
    <div>
      <span class="descricao"  style="display: block;">{{produtoModel?.descricao}}</span>
      <span class="cor-preco preco">por apenas {{produtoModel?.preco | currency: 'BRL': true}}</span>
    </div>
    <div>
      <ion-button (click)="addCarrinho()" class="btn-color-carrinho botao-centralizado">
        Adicionar no carrinho <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
