<ion-app>
  <ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar translucent>
        <div *ngIf="!isLogado(); else logado">
          <ion-title>Menu</ion-title>
        </div>

        <ng-template #logado>
          <div>
            <ion-title>
              <ion-icon name="person-circle-outline"></ion-icon> {{getUsuarioAutenticado().nome}}
            </ion-title>
          </div>
        </ng-template>

      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item *ngFor="let rota of rotas" [routerLink]="[rota.url]" routerLinkActive="router-link-active">
          <ion-icon [name]="rota.icone" slot="start"></ion-icon>
          <ion-label>{{rota.nome}}</ion-label>
        </ion-item>
        <div *ngIf="!isLogado(); else logadoRota">
          <ion-item *ngFor="let rota of rotasNaoAutenticadas" [routerLink]="[rota.url]"
            routerLinkActive="router-link-active">
            <ion-icon [name]="rota.icone" slot="start"></ion-icon>
            <ion-label>{{rota.nome}}</ion-label>
          </ion-item>
        </div>
        <ng-template #logadoRota>
          <ion-item *ngFor="let rota of rotasAutenticadas" [routerLink]="[rota.url]"
            routerLinkActive="router-link-active">
            <ion-icon [name]="rota.icone" slot="start"></ion-icon>
            <ion-label>{{rota.nome}}</ion-label>
          </ion-item>
        </ng-template>
        <ion-item [routerLink]="['/']" *ngIf="isLogado()" (click)="sair()" routerLinkActive="router-link-active">
          <ion-icon name="exit-outline" slot="start"></ion-icon>
          <ion-label>Sair</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
