<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Pastelaria do Beiçola
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div>
    <div>
      <ul class="lista">
        <li [routerLink]="['/produto-categoria', categoria.id]"
        routerLinkActive="router-link-active" *ngFor="let categoria of categorias"><a href="">{{categoria?.nome}}</a></li>
      </ul>
    </div>

    <div>
      <ion-list>
        <ion-item *ngFor="let produto of produtos" class="espacamento-item" >
          <ion-thumbnail slot="start" style="margin-right: 30px;" [routerLink]="['/produto-item', produto?.id]"
          routerLinkActive="router-link-active">
            <ion-img [src]="produto.avatarUrl"></ion-img>
          </ion-thumbnail>
          <ion-label [routerLink]="['/produto-item', produto?.id]"
          routerLinkActive="router-link-active">
            <h2 class="card-titulo">{{produto?.nome}}</h2>
            <span class="card-descricao">{{produto?.descricao}}</span>
            <h2 class="cor-preco">{{produto?.preco | currency}}</h2>
          </ion-label>
          <ion-button (click)="addCarrinho(produto)" class="btn-color-carrinho">
            <ion-icon name="cart-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>

      <ion-infinite-scroll (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais produtos...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </div>
</ion-content>
