<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Carrinho de Compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">
    <div *ngIf="carrinho === null; else temCarrinho">
      <h1 class="texto-centralizado">Você ainda não possui nenhum item no carrinho!</h1>
    </div>
    <ng-template #temCarrinho>
      <div>
        <ion-button class="espacamento" color="danger" (click)="limparCarrinho()">
          Limpar Carrinho
        </ion-button>
      </div>
      <div>
        <table class="tabela">
          <thead>
            <th>Código</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Quantidade</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of carrinho.itens">
              <td>{{item.id}}</td>
              <td>{{item.nome}}</td>
              <td>{{item.preco | currency: 'BRL': true}}</td>
              <td>
                <ion-button size="small" color="danger" (click)="diminuirQuantidade(item)" shape="round">-</ion-button>
                {{item.quantidade}}X <ion-button size="small" color="success" (click)="aumentarQuantidade(item)"
                  shape="round">+</ion-button>
              </td>
            </tr>
            <tr class="tr-valor-total">
              <td colspan="3" class="valor-total font-maior">Valor Total</td>
              <td><span class="cor-preco font-maior">{{valorTotal() | currency: 'BRL': true}}</span></td>
            </tr>
          </tbody>
        </table>
        <div>
          <ion-button (click)="finalizarPedido()" class="btn-finalizar-pedido">
            Finalizar Pedido
          </ion-button>
        </div>
      </div>
    </ng-template>
  </div>

</ion-content>
